@import './header-main-page.scss';

*,*:after,*:before{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.wrapper_mainPage {
  width: 100wh;
  height: 100vh;
  background: url(https://html.sammy-codes.com/images/background.jpg);
  background-attachment: fixed;
}